//Color Scheme
color_button 	= #EE5622
color_bg 		= #221E22
color_bglite 	= #31263E
color_bglitest	= #44355B
color_bright	= #F1C40F

//Fonts
font_serif 		= 'merriweather' 
font_sans_serif	= 'Lato' 
font_cursive	= 'swingdancer' 
