@media screen and (max-width 900px)
	html
		font-size 13px !important
@media screen and (max-width 700px)
	html
		font-size 10px !important
@media screen and (max-width 600px)
	html
		font-size 9px !important
@media screen and (max-width 400px)
	html
		font-size 7px !important

@require(_variables)

html
	font-size 16px

body
	min-height 100%
	margin 0px
	background-color color_bg 
	position relative
h1
	color color_bright
h2
	color 	color_button 
h3
	color  color_bglite
h4
	color color_bglitest